<h1>Login</h1>
<br/>
<%= form_tag '/login/login' %>
<table>
	<tr>
		<th align="left">Email Address</th>
		<th align="left">Password</th>
	</tr><tr>
		<td><input type="text" name="email"></td>
		<td><input type="password" name="password"></td>
		<td><input type="submit" value="Login"></td>
	</tr>
</table>
</form>